.projects-container {
    min-height: 100vh;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-top: 15px;
}

.projects-card {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;  
    align-items: center;
}

.projects-img-div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 auto; 
    text-align: center;
}

.projects-img {
    max-width: 450px;
    max-height: 500px;
}

.projects-name {
    display: block!important;
}