.projects-container {
    min-height: 100vh;
    margin: auto;
    align-items: center!important;
    text-align: center!important;
    padding-top: 15px;
    justify-content: center!important;
    font-family: 'Poppins', sans-serif!important;
}