.technologies-container {
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
  }

#curly-brace {
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 20px;
  transform: rotate(90deg);
  color:rgb(255, 174, 0)
}

.brace {
  border-bottom: 5px solid;
  margin: 0 10%;
  width: 30%;
  height: 20px;  
  float: left;
}

.brace:before, .brace:after {
  content: "";
  width: 10%;
  height: 45px;
  position: absolute;
  display: block;
}

#left:before {  
  border-bottom: 5px solid;  
  border-bottom-left-radius: 20px;
  margin-left: -10%;
  margin-top: -30px;
}

#left:after {
  border-top: 5px solid;
  border-top-right-radius: 20px;
  margin-left: 30%;
  margin-top: 15px;    
}

#right:before {
  border-top: 5px solid;
  border-top-left-radius: 20px;
  margin-left: -10%;
  margin-top: 15px;
}

#right:after {
  border-bottom: 5px solid;
  border-bottom-right-radius: 20px;
  margin-left: 30%;
  margin-top: -30px;
}

.divider {
  font-size: 40px;
  display: table; 
  text-align: center; 
  width: 75%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 10px;
}
.divider span { 
  display: table-cell; 
  position: relative; 
}
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 12.5px;
  -moz-background-size: 100% 4px;
  background-size: 100% 4.3px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {
  background-image: -webkit-gradient(linear, 0    0, 0 100%, from(transparent), to(#000));
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
  left: 11px;
  }
.divider span:nth-child(2) {
            color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
  }
.divider span:last-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
    right: 11px;
  }

@media screen and (max-width: 850px) {
  .divider {
    font-size: 30px;
  }
  .tech-item-text {
    font-size: 20px;
  }
  .bracket {
    font-size: 37.5px!important;
  }
  .text-span {
    bottom: 17.5px!important;
  }
  .divider {
    width: 90%;
  }
}

.text-span {
  position: relative;
  bottom: 27px;
}

.bracket {
  display: inline-block;
  font-size: 50px;
  position: relative;
  top: 5px;
  font-weight: 400;
}

.left-bracket {
  margin-right: 5px;
}

.right-bracket {
  margin-left: 5px;
}

.top-border {
  height: 15px;
  background-color: rgb(240, 240, 240); /* For browsers that do not support gradients */
  background-image: linear-gradient(white, rgb(240, 240, 240));
  width: 100%;
}

.bottom-border {
  height: 15px;
  background-color: rgb(240, 240, 240); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(240, 240, 240), white);
  width: 100%;
}