* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.app {
  font-family: 'Poppins', sans-serif;
}

.header-container {
  display: flex;
  width: 80%;
  height: 10vh;
  align-items: center;
  position: fixed;
  top: 0;
  margin-left: 10%;
  background: white;
}

.header-name-container, .header-nav-links {
  display: flex;
}

.header-nav-links {
  justify-content: space-between;
  list-style: none;
}

.header-nav-link {
  color: #5f5f79;
  text-decoration: none;
}

.header-name-container {
  flex: 1;
  /* background: cyan; */
}
.header-nav-container {
  flex: .85;
  /* background: red; */
}

.aboutme-container {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  min-height: 50vh;
  margin-top: 10%;
}

.aboutme-img-container, .aboutme-description {
  display: flex;
}

.aboutme-img-container {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-top: 20%;
  z-index: -20;
}

.aboutme-img {
  border-radius: 20rem;
  height: 65%;
  width: 65%;
  max-height: 350px;
  max-width: 350px;
  animation: drop 1.75s ease;
  filter: drop-shadow(0px 7px 5px gray);
}

.aboutme-description {
  flex: 1;
}

/* -------------------------- */
/* media queries and keyframes below here  */
/* this is the drop animation for the headshot image */
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 825px) {
  .aboutme-container {
    flex-direction: column;
    text-align: center;
    width: 90%;
  }
  .aboutme-img {
    height: 30vh;
    width: 30vh;
  }
  .aboutme-description {
    padding: 20px 0px 0px 0px;
  }
  .header-container {
    justify-content: center;
  }
  .header-nav-container {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .header-nav-container {
    flex: 1.2;
  }
}

@media screen and (max-width: 1000px) {
  .header-nav-container {
    flex: 1.7;
  }
}