* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

.app {
  font-family: 'Poppins', sans-serif;
}

.test {
  color: #ff0000;
  color: #de6200;
  color: #c49500;
  color: #93c100;
  color: #0de70d;
}