* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.app {
  font-family: 'Poppins', sans-serif;
}

.header-container {
  display: flex;
  width: 80%;
  margin: auto;
  height: 15vh;
  align-items: center;
}

.header-name-container, .header-nav-links {
  display: flex;
}

.header-nav-links {
  justify-content: space-around;
  list-style: none;
}

.header-nav-link {
  color: #5f5f79;
  text-decoration: none;
}

.header-name-container {
  flex: 1;
}
.header-nav-container {
  flex: 1.25;
}

.aboutme-container {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  height: 60vh;
}

.aboutme-img-container, .aboutme-description {
  display: flex;
}

.aboutme-img-container {
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.aboutme-img {
  border-radius: 20rem;
  height: 65%;
  width: 65%;
  max-height: 350px;
  max-width: 350px;
  animation: drop 1.5s ease;
  filter: drop-shadow(0px 7px 5px gray);
}

.aboutme-description {
  flex: 1;
}

/* this is the drop animation for the headshot image */
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 825px) {
  .aboutme-container {
    flex-direction: column;
    text-align: center;
    width: 90%;
  }
  .header-nav-links {
    display: none;
  }
  .aboutme-img {
    height: 30vh;
    width: 30vh;
  }
  .aboutme-description {
    padding: 20px 0px 0px 0px;
  }
}